# Default ignored files
/../../../:AllFlagsHidder/.idea/shelf/
/../../../:AllFlagsHidder/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:AllFlagsHidder/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:AllFlagsHidder/.idea/dataSources/
/../../../:AllFlagsHidder/.idea/dataSources.local.xml
